<!DOCTYPE html>
<html lang="en">
  <%- include("_head", {documentTitle: "Users List" }); %>
  <body>
  <%- include("_utils") %>
  <%- include("_nav", {currentUser: locals.user}); %>
  <%- include("_flash") %>
  <h1>Users List</h1>
  <dialog class="dialog" id="valid-delete-dialog">
    <form action="/userDelete" method="post">
      <div>Are you sure?</div>
      <input type="hidden" name="_id" id="delete-token">
      <button class="btn" id="cancel-delete" type="button">Cancel</button>
      <button class="btn" id="valid-delete" type="submit">Valid</button>
    </form>
  </dialog>
  <dialog class="formDialog" id="create-user-dialog">
    <form class="util-form" method="post" id="form-create-user" novalidate>
      <fieldset>
        <legend>User Information</legend>
        <div>
          <label for="lastName">Lastname</label>
          <input type="text" id="lastName" name="lastName" required minlength="2">
          <div class="error-field" aria-live="polite" id="lastName-err-fld"></div>
        </div>
        <div>
          <label for="firstName">Firstname</label>
          <input type="text" id="firstName" name="firstName" required minlength="2">
          <div class="error-field" aria-live="polite" id="firstName-err-fld"></div>
        </div>
        <div>
          <label for="birthdate">Birthdate</label>
          <input type="date" id="birthdate" name="birthdate" required>
          <div class="error-field" aria-live="polite" id="birthdate-err-fld"></div>
        </div>
        <div>
          <label for="role">Role</label>
          <select id="role" name="role" required>
            <option disabled selected value>Choose a role</option>
            <option value="customer">Customer</option>
            <option value="coach">Coach</option>
            <option value="manager">Manager</option>
          </select>
          <div class="error-field" aria-live="polite" id="role-err-fld"></div>
        </div>
      </fieldset>
      <fieldset>
        <legend>User login</legend>
        <div>
          <label for="login">Login</label>
          <input type="text" id="login" name="login" required minlength="5">
          <div class="error-field" aria-live="polite" id="login-err-fld"></div>
        </div>
        <div>
          <label for="password">Password</label>
          <input type="text" id="password" name="password" required minlength="8">
          <div class="error-field" aria-live="polite" id="password-err-fld"></div>
        </div>
      </fieldset>
      <button type="button" class="btn" id="cancel-create">Cancel</button>
      <button type="submit" class="btn" id="valid-create" disabled>Create</button>
      <div class="error-field" aria-live="polite" id="form-err-fld"></div>
    </form>
  </dialog>
  <dialog class="formDialog" id="role-switch-dialog">
    <form class="util-form" action="/userUpdateRole" method="post">
      <fieldset>
        <legend>User Role</legend>
        <input type="hidden" name="_id" id="switch-token">
        <div>
          <label for="role">Role</label>
          <select name="role">
            <option value="manager" id="role-manager">Manager</option>
            <option value="coach" id="role-coach">Coach</option>
            <option value="customer" id="role-customer">Customer</option>
          </select>
        </div>
        <button class="btn" id="cancel-switch" type="button">Cancel</button>
        <button class="btn" id="valid-switch" type="submit">Valid</button>
      </fieldset>
    </form>
  </dialog>
  <table class="list-table">
    <thead>
      <tr class="list-table-head">
        <th class="list-table-head-item">Lastname</th>
        <th class="list-table-head-item">Firstname</th>
        <th class="list-table-head-item">Birthdate</th>
        <th class="list-table-head-item">Role</th>
        <th class="list-table-head-item">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% locals.users.forEach((user) => { %>
        <tr>
          <td class="list-table-body-item"><%= user.lastName %> </td>
          <td class="list-table-body-item"><%= user.firstName %> </td>
          <td class="list-table-body-item"><%= formatDate(user.birthdate) %> </td>
          <td class="list-table-body-item">
            <div class="role-zone">
              <%= user.role %>
              <span class="hidden"><%= user.id %></span>
              <button class="btn-small" id="role-switch">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="#ffffff" d="M463.5 224H472c13.3 0 24-10.7 24-24V72c0-9.7-5.8-18.5-14.8-22.2s-19.3-1.7-26.2 5.2L413.4 96.6c-87.6-86.5-228.7-86.2-315.8 1c-87.5 87.5-87.5 229.3 0 316.8s229.3 87.5 316.8 0c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0c-62.5 62.5-163.8 62.5-226.3 0s-62.5-163.8 0-226.3c62.2-62.2 162.7-62.5 225.3-1L327 183c-6.9 6.9-8.9 17.2-5.2 26.2s12.5 14.8 22.2 14.8H463.5z"/></svg>
              </button>
            </div>
          </td>
          <td class="list-table-body-item">
            <div class="btn">
              <a href="/user?id=<%= user.id %>">Edit</a>
            </div>
            <button class="btn delete" >Delete</button>
          </td>
        </tr>
      <% }); %>
    </tbody>
    <tfoot>
      <tr>
        <td>
          <button class="btn" id="new-user">Create New User</button>
        </td>
      </tr>
    </tfoot>
  </table>
  <script src="/js/users.js" type="module"></script>
</body>
</html>