<!DOCTYPE html>
<html lang="en">
  <%- include("_head", {documentTitle: "Users List" }); %>
<body>
  <%- include("_nav", {currentUser: locals.user}); %>
  <h1>Users List</h1>
  <% if (messages.info) { %>
    <div class="info"> <%= messages.info %> </div>
  <% } %>
  <table class="list-table">
    <thead>
      <tr class="list-table-head">
        <th class="list-table-head-item">Lastname</th>
        <th class="list-table-head-item">Firstname</th>
        <th class="list-table-head-item">Birthdate</th>
        <th class="list-table-head-item">Role</th>
        <th class="list-table-head-item">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% include("_formatDate") %>
      <% locals.users.forEach((user) => { %>
        <tr>
          <td class="list-table-body-item"><%= user.lastName %> </td>
          <td class="list-table-body-item"><%= user.firstName %> </td>
          <td class="list-table-body-item"><%= formatDate(user.birthdate) %> </td>
          <td class="list-table-body-item"><%= user.role %> </td>
          <td class="list-table-body-item">
            <a class="btn" href="/user?id=<%= user.id %>">Edit</a></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>