<!DOCTYPE html>
<html lang="en">
  <%- include("_head", {documentTitle: "Users List" }); %>
<body>
  <%- include("_nav", {currentUser: locals.user}); %>
  <h1>Users List</h1>
  <% if (messages.info) { %>
    <div class="info"> <%= messages.info %> </div>
  <% } %>
  <% if (messages.error) { %>
    <div class="error"> <%= messages.error %> </div>
  <% } %>
  <dialog class="dialog hidden" id="valid-delete">
    <form action="/userDelete" method="post">
      <div>Are you sure?</div>
      <input type="hidden" name="_id" id="delete-token">
      <button class="btn" id="cancel-delete" type="button">Cancel</button>
      <button class="btn" id="valid-delete" type="submit">Valid</button>
    </form>
  </dialog>
  <table class="list-table">
    <thead>
      <tr class="list-table-head">
        <th class="list-table-head-item">Lastname</th>
        <th class="list-table-head-item">Firstname</th>
        <th class="list-table-head-item">Birthdate</th>
        <th class="list-table-head-item">Role</th>
        <th class="list-table-head-item">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% include("_formatDate") %>
      <% locals.users.forEach((user) => { %>
        <tr>
          <td class="list-table-body-item"><%= user.lastName %> </td>
          <td class="list-table-body-item"><%= user.firstName %> </td>
          <td class="list-table-body-item"><%= formatDate(user.birthdate) %> </td>
          <td class="list-table-body-item"><%= user.role %> </td>
          <td class="list-table-body-item">
            <a class="btn" href="/user?id=<%= user.id %>">Edit</a>
            <button class="btn delete" >Delete</button>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <script src="/js/users.js" type="module"></script>
</body>
</html>